.wrapper {
  width: 100vw;
  min-height: 100vh;
}
.hero {
  width: 100%;
  // max-width: 1480px;
  max-height: 1000px;
  background-image: url(../../images/Veneto-Divide_52.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dispatch {
  display: flex;
  background-color: bisque;
  height: 400px;
  .dispatch-holder {
    // background-image: url(/images/dispatch/thumb_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .dispatch-one {
  }
}
.advertisement {
  //
}
.statement-text {
  //
}
.bikepacking101-img {
  //
}
.explore {
  //
}
.sponsors {
  //
}
.explore-holder {
  //
}
.page-bottom {
  //
}
